*{
    margin:0;
    box-sizing: border-box;
}

/* DEEFINE A ROLAGEM VERTICAL*/
html {
    scroll-snap-type: y mandatory;
}


/*COR DE TEXTOS BRANCA,COR DE FUNDO PRETA, ALTURA VH
A MEDIDA VH É IGUAL A 1/100 DA ALTURA DA VIEWPORT
SE A ALTURA DO NAVEGADOR É 900PX, 1VH EQUIVALE A 9PX.
DISPLAY EM GRADE, COM ITENS CENTRALIZADOS*/

body {
    color:white;
    background-color: black;
    display:grid;
    place-items: center;
}

/*SE O CONTEUDO ESTOURAR A TELA , É CORTADO E GANHA BARRA DE ROLAGEM,
LARGURA 100% DO QUE ESTIVER DISPONIVEL, MÁXIMO DE 400PX,
ROLAGEM VERTICAL E ARREDONDADO EM 20PX*/
.app__videos{
    position:relative;
    height:750px;
    background-color: white;
    overflow: scroll;
    width: 100%;
    max-width: 400px;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
}

/*barra de rolagem*/
.app__videos::-webkit-scrollbar{
    display: none;
}

/* é uma propriedade CSS proprietária,
específica do Internet Explorer e do Microsoft Edge,
que controla o comportamento das barras de rolagem quando o
conteúdo de um elemento transborda. */
/* A propriedade scrollbar-width é usada para definir a largura
ou espessura da barra de rolagem de um elemento quando mostrado. */
.app__videos{
    -ms-overflow-stye:none;
    scrollbar-width: none;
}
 /*o espaço do video terá a posição relativa, altura e largura preencheendo a tela,
 cor de fundo branca
 a scroll-snap-align especifica a posição de encaixe da caixa como um alinhamento de sua área de encaixe
 (como o assunto de alinhamento) dentro do snapport de seu recipiente
 de encaixe (como o recipiente de alinhamento).*/

 .video {
    position: realtive;
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-snap-align: start;
 }

.video__player {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*POSIÇÃO RELATIVA, A 48% DO TOPO E A 10PX DA DIREITA*/
.videoSidebar{
    position:absolute;
    top: 48%;
    right: 10px;
}

/*ICONES COM TAMANHO 28PX  E O CURSOR VIRA UMA MAO EM CIMA DELES*/

.videoSidebar .material-icons {
    font-size: 28px;
    cursor: pointer;
}

.videoSidebar__button{
    padding: 20px;
    text-align: center;
}

/*POSIÇÃO RELATIVA, A 150PX DO FIM DA TELA, MARGEM ESQUERDA DE 20PX
TEXTOS DA COR BRANCA E DISPLAY FLEXIVEL*/
.videoFooter {
    position: relative;
    bottom: 150px;
    margin-left: 20px;
    color: white;
    display: flex;
}
/*função de girar o disco*/
@keyframes spinTheRecord {
    from {
        transform:  rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*CONFIGURA A ANIMAÇÃO DO DISCO, CHAMANDO A FUNÇÃO ANTERIOR*/
.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}

/*TEXTOS OCUPAM 100% DO ESPAÇO FLEXIVEL*/
.videoFooter__text {
    flex: 1;
}

/*Texto h3 com padding inferior de 20px*/
.videoFooter__text h3 {
    padding-bottom: 20px;
}

/* icone do disco com posição absoluta*/
.videoFooter__icon {
    position: absolute;
}

/*ESPAÇO COM NOME DA MÚSICA E DISCO TERA 400PX DE LARGURA
DISPLAY FLEXIVEL E ITENS ALINHADOS AO CENTRO*/
.videoFooter__ticket {
    width: 400px;
    display: flex;
    align-items: center;
}
/*NOME DA MUSICA COM ALTURA AJUSTADA, MARGEM ESQUERDA DE 30PX,
E OCUPARA 60% DA LARGURA DISPONIVEL*/
.videoFooter__ticket marquee {
    height: fit-content;
    margin-left: 30px;
    width: 70%;
}

/*descrição do video padding com 20px em todas as direções*/
.videoFooter__description {
    padding-bottom: 20px;
}

/*AJUSTE DE MIDIA*/
@media (max-width: 425px) {
    .app__videos {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}